#articleBox{
    margin: 0 48px;
    
    #articleTitle{
        font-size: 32px;
        display: flex;
        padding: 43px 0;
        justify-content:space-between;
        align-items: center;

        text:nth-child(1){
            color: #334054;
        }

        text:nth-child(2){
            color: #9DA4AE;
            font-size: 26px;
        }
    }

    #articleList{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}